.market-ui{
	display: flex;
	align-items: center;
	gap: 10%;

}
@keyframes done{
	from    { opacity: 1; }
	to   { opacity: 0; }

}
@keyframes flash{
	50%{border: 3px solid yellow;}
}
.status{
	color: green;
	font-size: 20px;
	position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%)
}
.difficulty-flex{

display: none;
	width: 70%;
	
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.info-flex{
	display:flex;
	width: 100%;
	flex-wrap: wrap;

}
strong{
	font-weight: normal;
}

.achievement-unlocked{
	display: none;
		flex-direction: column;

	align-items: center;
	position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
	width: 20%;
	animation-fill-mode: forwards;
	background-color: #e9edaf;
	animation-name: done;
  animation-duration: 4s;
border: 3px solid #000000;
  border-radius: 6px;
  
}
.achievement-flex{
	display:none;
	width: 100%;
	flex-direction: column;
	gap: 50px;
	flex-wrap: wrap;
	
}
.achievement-container{
background-color: #e9edaf;
border: 3px solid #000000;
  border-radius: 6px;
}

.save-flex{
	display: none;
	width: 70%;
	gap:15px;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.save-grid{
	width: 180px;
	margin: auto;
	display:grid;
	background-color: #966F33;
	grid-template-rows: 100px 62.5px 62.5px 62.5px 62.5px 150px 50px;
	
  text-align: center;
  border: 3px solid #000000;
  border-radius: 6px;
	
}
.popup_block_buttons{
	display: none;
	position: absolute;
	top: 5px; 
	background-color: #000000;
	opacity: 0.4;
	
	
}
.info-grid{
	display: flex;
	width: 15%;
	flex-direction: column;
	border: 3px solid #000000;
  border-radius: 6px;
}
.item{
	background-color: #966F33;
	display: grid;
	width: 230px;
	grid-template-rows: 50px 100px 100px 50px 50px;
	border: 3px solid #000000;
  border-radius: 6px;
}
.item > *{
	text-align: center;
	margin: auto;
}
.color-r{
	color: #ff0000;
}
.color-y{
	color: yellow;
}
.color-g{
	color: green;
}
.color-dg{
	color: #006300;
}
.title_screen{
	margin: auto;
	text-align: center;
	
	
	font-size: 50px;
	color: #b8942a;

}
.clear_button{
margin: auto;
	font-size: 20px;
	width: 120px;
	border-style: solid;
	border-radius: 6px;
	transition-duration: 0.1s;
	background-color: #f0e87a;
	grid-row:7;
	
}
.clear_button:hover:enabled{
	background-color: #8c6c0b;
}
.save_button{
margin: auto;
	font-size: 20px;
	width: 150px;
	border-style: solid;
	border-radius: 6px;
	transition-duration: 0.1s;
	background-color: #f0e87a;
	grid-row:6;
	white-space: nowrap;
	
}
.save_button:hover:enabled{
	background-color: #8c6c0b;
}
.new_button{
margin: auto;
	font-size: 20px;
	width: 120px;
	border-style: solid;
	border-radius: 6px;
	transition-duration: 0.1s;
	background-color: #f0e87a;
	grid-row:6;
	
}
.new_button:hover:enabled{
	background-color: #8c6c0b;
}
.select-choice{
	transition-duration: 0.1s;
	background-color: #f0e87a;
	border: 3px solid #000000;
	border-radius: 3px;
}
.select-choice:hover:enabled{
		background-color: #8c6c0b;

}
.cancel{
	transition-duration: 0.1s;
	background-color: #f0e87a;
}
.cancel:hover:enabled{
		background-color: #8c6c0b;

}
.start_button{
	margin: auto;
	font-size: 30px;
	border-style: solid;
	border-radius: 6px;
	transition-duration: 0.1s;
	background-color: #f0e87a;
	
}
.start_button:hover{
	background-color: #8c6c0b;
}
.back_button{
	position: fixed;
  left: 50%;
  top:95%;
  transform: translate(-50%, -95%);
	font-size: 30px;
	border-style: solid;
	border-radius: 6px;
	transition-duration: 0.1s;
	background-color: #f0e87a;
	z-index: 1;
}
.back_button:hover{
	background-color: #8c6c0b;
}

.next_turn{
	border-radius: 2px;
	
	transition-duration: 0.1s;
	background-color: #f0e87a;
	
}
.next_turn:disabled{
	background-color: #8d8d8d;
}

.info:hover:enabled{
	background-color: #8c6c0b;
}
.info{
	margin-left: auto;
	border-radius: 2px;
	
	transition-duration: 0.1s;
	background-color: #f0e87a;
	
}
.next_turn:hover:enabled{
	background-color: #8c6c0b;
}
.start-box{
	display: flex;
	flex-direction: column;
	position: absolute;
	gap: 20px;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body{
	background-color:#fff8dc;
	overflow: hidden;
	font-family:'Courier New', Courier, monospace;
	user-select: none;
}
.pop{
	white-space: nowrap;
}
.dis {
	margin:auto;
	text-align: center;
  grid-row: 2;
}
.popup_choice {
	margin:auto;
	border-style: solid;
	border-radius: 6px;
	transition-duration: 0.1s;
	background-color: #f0e87a;
	font-weight: bold;
	width: 90px;
	height: 40px;
	
}
.popup_choice:hover:enabled{
	background-color: #bfb965;
}

.title {
	margin:auto;
	font-size: 30px;
	text-align: center;
  grid-row: 0;
}
.flex-grid {
	height: 50px;
	border-style: solid;
	border-radius: 6px;
  display: none;
  gap: 1px;
  flex-wrap: nowrap;
  

}
.select-grid{
position: absolute;
top:93%;
	height: 50px;
	
  display: none;
  gap: 3px;
  flex-wrap: nowrap;
  
}
.flex-grid > div {
  margin: 10px;
  text-align: center;
}.select-grid > div {
  margin: 10px;
  text-align: center;
}

.popup{
	background-color: #966F33 ;
	width: 400px;
	height: 300px;
	border-style: solid;
	border-radius: 6px;
	display: none;
	justify-content: center;
	z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: nowrap;
}
