
* {
  box-sizing: border-box;
}

:root {
  --game-container-bg-color: #c89c59;
}
.setting_slider {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 0.75rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -6px;
  background-color: #d1a036;
  height: 1.5rem;
  width: 0.5rem;
  border: 1px solid #d1a036;
  outline: 3px solid #664e1a;
  /* outline-offset: 0.125rem; */
  border-radius: 5px;
}
.settings_button {
  font-size: 20px;
  width: 100px;
  border-style: solid;
  border-radius: 6px;
  transition-duration: 0.1s;
  background-color: rgb(255, 0, 0);
}
.settings_button:hover {
  filter: brightness(80%);
}

@keyframes done {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes eternity {
  0% {
    color: black;
  }
  50% {
    color: purple;
  }
  100% {
    color: black;
  }
}
@keyframes block_done {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes popup_finish {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  50% {
    border: 3px solid yellow;
  }
}
#tech-tree {
  z-index: 1;
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 100%);
  border: 3px solid #000000;
}
#tech-tree > button {
  width: 35px;
  height: 35px;
  border: 3px solid #000000;

  margin: auto;
}

#tech-tree > h1 {
  text-align: center;
}
.techline {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 100%);
}
@keyframes pause {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, 50%);
  }
}
.pause_button {
  margin: auto;
  font-size: 30px;
  width: 200px;
  border-style: solid;
  border-radius: 6px;
  transition-duration: 0.1s;
  background-color: #f0e87a;
}
.pause_button:hover:enabled {
  background-color: var(--game-container-bg-color);
}

#stats {
  height: 50px;
  border-bottom-style: solid;
  display: none;
  gap: 1px;
  flex-wrap: nowrap;
}

#stats button {
  display: flex;
  align-items: center;
  border-bottom: 0;
  border-top: 0;
  border-radius: 0;
}

#stats div {
  margin: 10px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.status {
  color: green;
  font-size: 20px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 3;
}
.difficulty-flex {
  display: none;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
.info-flex {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
  /* Fun fact: I wanted to make this 10px, but that caused the Heimann Grid Illusion. */
  gap: 5px;
  padding: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.info-flex .info-grid {
  display: flex;
  flex-direction: column;
  border: 3px solid #000000;
  border-radius: 3px;
  padding: 5px;
  background-color: var(--game-container-bg-color);
  height: 100%;
}

.bhealth {
  display: block;
  border-radius: 8px;

  width: 80%;
  height: 20px;
}
.achievement-unlocked {
  display: none;
  flex-direction: column;

  align-items: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 20%;
  animation-fill-mode: forwards;
  background-color: #e9edaf;
  animation-name: done;
  animation-duration: 4s;
  border: 3px solid #000000;
  border-radius: 6px;
}
.showxp {
  font-weight: bold;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  width: 20%;
  animation-fill-mode: forwards;
  animation-name: done;
  animation-duration: 2s;
}
.achievement-flex {
  display: none;
  width: 100%;
  flex-direction: column;
  gap: 50px;
  flex-wrap: wrap;
  padding: 5px;
}
.achievement-container {
  background-color: #e9edaf;
  border: 3px solid #000000;
  border-radius: 6px;
  padding: 20px;
}

#market-flex {
  display: none;
}

#market-top-bar {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}

#market-top-bar h1 {
  flex-grow: 1;
}

.save-flex,
#difficulty-flex {
  --item-width: 180px;
  display: none;
}

.market-ui {
  --item-width: 200px;
  display: grid;
}

.save-flex,
.market-ui,
#difficulty-flex {
  grid-template-columns: repeat(auto-fit, minmax(var(--item-width), 1fr));
  gap: 15px;
}

.save-grid,
.item {
  width: var(--item-width);
  height: 100%;
  min-height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--game-container-bg-color);
  padding: 0px 10px 10px 10px;
  text-align: center;
  border: 3px solid #000000;
  border-radius: 6px;
}

.save-grid div,
.save-grid p,
.item p {
  flex-grow: 1;
  margin: 5px 0;
  word-wrap: break-word;
}

.save-grid table {
  width: 100%;
  border-spacing: 0.5em;
}

.save-grid table th:nth-child(1) {
  text-align: left;
}

.save-grid table th:nth-child(2) {
  text-align: right;
}

.save-grid button {
  width: 100%;
  margin: 3px 0px;
}

#popup_block_buttons {
  display: none;
  /* position: fixed is position relative to the screen, so it will always cover the screen.
     and we don't have to worry about scrolling and stuff like that */
  position: fixed;
  top: 0px;
  background-color: #000000;
  opacity: 0.4;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

.color-r {
  /*
  * this used to be just #ff0000. Why is this weird color now?
  * Well, this color is used on a background of #c89c59.
  * WebAIM recommends a contrast of at least 3 for large text: before this was 1.57, and a pain to read.
  * Now the contrast is three.
   */
  color: #9c1f1f;
}
.color-y {
  color: yellow;
}
.color-g {
  color: green;
}
.color-dg {
  color: #006300;
}
.title_screen {
  margin: 20px;
  text-align: center;

  font-size: 50px;
  color: #b8942a;
}
.clear_button {
  margin: auto;
  font-size: 20px;
  width: 120px;
  border-style: solid;
  border-radius: 6px;
  transition-duration: 0.1s;
  background-color: #f0e87a;
  grid-row: 8;
}
.clear_button:hover:enabled {
  background-color: var(--game-container-bg-color);
}
.save_button {
  margin: auto;
  font-size: 20px;
  width: 150px;
  border-style: solid;
  border-radius: 6px;
  transition-duration: 0.1s;
  background-color: #f0e87a;
  grid-row: 7;
  white-space: nowrap;
}
.save_button:hover:enabled {
  background-color: #8c6c0b;
}
.new_button {
  margin: auto;
  font-size: 20px;
  width: 120px;
  border-style: solid;
  border-radius: 6px;
  transition-duration: 0.1s;
  background-color: #f0e87a;
  grid-row: 6;
}
.achievement-image-div {
  float: right;
  display: inline-block;
}

.achievement-image {
  width: 50%;
  float: right;
}

.new_button:hover:enabled {
  background-color: var(--game-container-bg-color);
}
.select-choice {
  transition-duration: 0.1s;

  background-color: #f0e87a;
  border: 3px solid #000000;
  border-radius: 3px;
}
.select-choice:hover:enabled {
  background-color: var(--game-container-bg-color);
}
.cancel {
  transition-duration: 0.1s;
  background-color: #f0e87a;
}
.cancel:hover:enabled {
  background-color: var(--game-container-bg-color);
}
.start_button {
  margin: auto;
  font-size: 30px;
  border-style: solid;
  border-radius: 6px;
  transition-duration: 0.1s;
  background-color: #f0e87a;
  width: 100%;
  padding: 5px 20px;
}
.start_button:hover {
  background-color: var(--game-container-bg-color);
}
.back_button {
  position: fixed;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -95%);
  font-size: 30px;
  border-style: solid;
  border-radius: 6px;
  transition-duration: 0.1s;
  background-color: #f0e87a;
  z-index: 2;
}
.back_button:hover {
  background-color: var(--game-container-bg-color);
}

.next_turn {
  border-radius: 2px;

  transition-duration: 0.1s;
  background-color: #f0e87a;
}
.next_turn:disabled {
  background-color: #8d8d8d;
}

.info:hover:enabled {
  background-color: var(--game-container-bg-color);
}
.info {
  border-radius: 2px;

  transition-duration: 0.1s;
  background-color: #f0e87a;
}
.next_turn:hover:enabled {
  background-color: var(--game-container-bg-color);
}
.start-box {
  display: grid;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body,
button,
select {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff8dc;
  user-select: none;
  font-variant-numeric: tabular-nums;
  margin: 0;
  min-height: 100vh;
}
.pop {
  white-space: nowrap;
}
.dis {
  margin: auto;
  text-align: center;
  grid-row: 2;
}
.popup_choice {
  margin: auto;
  border-style: solid;
  border-radius: 6px;
  transition-duration: 0.1s;
  background-color: #f0e87a;
  font-weight: bold;
  width: 90px;
  height: 40px;
  z-index: 3;
}
.popup_choice:hover:enabled {
  background-color: #bfb965;
  z-index: 3;
}

.title {
  margin: auto;
  font-size: 30px;
  text-align: center;
  grid-row: 0;
}

.select-grid {
  background-color: #b8942a;
  align-items: center;
  position: absolute;
  top: 93%;
  height: 50px;
  width: 100%;
  display: none;
  gap: 10px;
  flex-wrap: nowrap;
  border: 3px solid #000000;
  border-radius: 6px;
}
.select-grid > button,
.select-grid > select {
  height: 100%;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
}
strong{
	font-weight: lighter
}
.select-grid > select {
  background-color: #f0e87a;
  height: 100%;
  border: 2px solid black;
  border-bottom: 0;
  border-top: 0;
}
.techcontainer {
  display: grid;
  grid-template-columns: 20% 40% 10% 30%;
  grid-template-rows: 100px 100px;
  border: 3px solid #000000;
}
.techcontainer > * {
  text-align: center;
}
.techcontainer > button {
  width: 100px;
  margin: auto;

  height: 40px;
  border-style: solid;
  border-radius: 6px;
  transition-duration: 0.1s;
  background-color: #f0e87a;
  font-weight: bold;
}
.techcontainer > button:hover:enabled {
  background-color: #8c6c0b;
}

.select-grid > div {
  margin: 10px;
  text-align: center;
}

.popup {
  background-color: var(--game-container-bg-color);
  width: 400px;
  height: 300px;
  padding: 15px;
  border-style: solid;
  border-radius: 6px;
  display: none;
  justify-content: center;
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: nowrap;
}

button {
  border-color: black;
  border-style: solid;
}
button:disabled {
  background-color: #9c9c95;
}

canvas {
  display: none;
}
